@charset "UTF-8";

:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', cursive;
    font-weight: 900;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
    font-weight: 500;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: white;
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
    scroll-margin-top: 2.8rem;
}

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: .2rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 2rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    background-color: var(--secondary-color);
    height: 0.2rem;
    transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 55%;
    left: 25%;
}

.close-menu {
    display: none;
}

.intro {
    margin-top: 6.6rem;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.news-coverage-content {
    min-height: 100vh;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.top3-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    counter-reset: top3-counter;
    row-gap: 6.5rem;
}

.top3-content h2 {
    margin-bottom: 0;
}

.top3-internal-content {
    display: flex;
    gap: var(--gap);
}

.top3-heading {
    display: flex;
    column-gap: 1.3rem;
    align-items: center;
}

.top3-internal-content h3::before {
    counter-increment: top3-counter;
    content: counter(top3-counter);
    font-size: 6rem;
    font-style: italic;
    transform: rotate(4deg);
}

.top3-internal-content p {
    margin-top: -1.6rem;
}

.gallery-heading {
    margin-bottom: 8rem;
}

.gallery-heading h2 {
    margin-bottom: 0;
}

.gallery-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: scale(1.2) rotate(5deg) translate(-3%, 3%);
}

.responsive-table {
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table caption {
    text-align: left;
    font-style: italic;
    padding: .3rem;
    font-size: 1.4rem;
}

table thead {
    background-color: var(--light-gray-color);
}

table td, table th {
    white-space: nowrap;
    border: .1rem solid var(--light-gray-color);
    padding: 1rem;
    text-align: left;
}

table tfoot td{
    text-align: center;
}

fieldset {
    border: none;
}

fieldset legend {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.contact-form {
    grid-column: span 2;
}

.grid-form {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "first-name last-name email" 
    "message message message" 
    "submit submit submit";
    
    gap: var(--gap);
}

.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.email {
    grid-area: email;
}

.message {
    grid-area: message;
}

.message textarea {
    height: 100%;
}

.submit {
    grid-area: submit;
}

.field {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.field input, textarea {
    padding: 1.5rem;
    font-size: 2rem;
}

.field ::placeholder {
    font-size: 2rem;
}

.submit {
    height: 7rem;
    width: 23rem;
    background-color: transparent;
    color: var(--white-color);
    border: .5rem solid var(--white-color);
    font-size: 2.4rem;
    transition: all 350ms ease;
    cursor: pointer;
}

.submit:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

footer {
    padding: 2.5rem;
    text-align: center;
    font-weight: bold;
}

footer p {
    margin: 0;
}

.back-to-top  {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white-color);
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 3rem;
    color: var(--primary-color);
    border: .1rem solid var(--primary-color);
    transition: all 50ms ease;
}

.back-to-top:hover {
    transform: translate(-1.3%, 1.3%) scale(.99);
    border: .2rem solid var(--primary-color);
}


@media (max-width: 1020px) {
    h2 {
        font-size: 5rem;
    }
    .grid-form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1.3fr 1fr;
        grid-template-areas: 
        "first-name last-name" 
        "email email" 
        "message message" 
        "submit submit";
    }
}

@media (max-width: 800px) {
    .intro {
        margin-top: 0;
    }

    .section {
        scroll-margin-top: -2.8rem;
    }
    .menu {
        height: 100vh;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .intro-content {
        grid-template-columns: 1fr;
    }

    .top3-internal-content {
        flex-wrap: wrap;
    }

    .gallery-content {
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: white;
        padding: .5rem;
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        cursor: pointer;
        border-radius: .3rem;
    }

    .close-menu:checked ~ .menu {
        display: block;
    }

    .close-menu:checked ~ .close-menu-label::after {
        content: '×';
        background-color: var(--white-color);
        color: var(--primary-color);
        font-size: 5.7rem;
    }
}

@media (max-width: 650px) {
    h2 {
        font-size: 4.5rem;
    }
    .grid-form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.3fr 1fr;
        grid-template-areas: 
        "first-name" 
        "last-name" 
        "email" 
        "message" 
        "submit";
    }

    .gallery-content {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }



    .submit {
        width: 100%;
    }
}

